<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"> <!-- 템플릿 처리에는 전혀 영향을 미치지 않지만 IDE가 모든 속성에
                        대한 네임스페이스 정의가 부족하다고 불평하는 것을 방지하는 주문th:* 처럼 작동합니다  -->
<head>
    <meta charset="UTF-8">
    <title>insert</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 부트스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-4"></div> <!-- 여백 -->
            <div class="col-4"> <!-- 입력폼 디자인 -->
                <!-- 맵핑명은 반드시 /로 시작, {/b} @GetMapping("/b")-->
                <!-- 페이지 지정은 /를 생략, return "list";, 실수로 return "/list";로 해도 상관없음 -->
                <form action="/b" method="post">
                    <div class="toast show">
                        <div class="toast-header">
                            <h3>해야할일 등록</h3>
                        </div>
                        <div class="toast-body"> <!-- Toast(토스트) 디자인 -->
                            <div class="mb-3 mt-3"> <!-- 입력 폼 -->
                                <label for="a" class="form-label">제목:</label>
                                <input type="text" class="form-control" id="a" name="a" placeholder="제목을 입력하세요" >
                            </div>
                            <div class="mb-3 mt-3"> <!-- 입력 폼 -->
                                <label for="b" class="form-label">해야할일:</label>
                                <input type="text" class="form-control" id="b" name="b" placeholder="해야할 일을 입력하세요" >
                            </div>
                            <div class="mb-3 mt-3"> <!-- 입력 폼 -->
                                <label for="c" class="form-label">진행일:</label>
                                <input type="date" class="form-control" id="c" name="c">
                            </div>
                            <div class="mb-3 mt-3"> <!-- 입력 폼 -->
                                <label for="d" class="form-label">중요도:</label>
                                <select class="form-select" id="d" name="d">
                                    <option value="매우 중요">매우 중요</option>
                                    <option value="중요">중요</option>
                                    <option value="보통">보통</option>
                                    <option value="글쎄">중요하지 않음</option>
                                </select>
                            </div>
                            <div class="mb-3 mt-3"> <!-- 입력 폼 -->
                                <label for="e" class="form-label">상태:</label>
                                <select class="form-select" id="e" name="e">
                                    <option value="완료">완료</option>
                                    <option value="진행중">진행중</option>
                                    <option value="보류">보류</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 mt-3"> <!-- 입력 폼 -->
                            <button type="submit" class="btn btn-primary">추가</button>
                            <button type="button" class="btn btn-secondary" th:onclick="|location.href='@{/a}'|">돌아가기</button>
                        </div>
                    </div>

                    <!--
                    자바스크립트
                    문법 : 변수, 연산자, 조건문, 반복문
                    프로그램으로 구성되어 있으면 바로 실행
                    함수로 구성되어 있으면 호출해서 실행
                    DOM(문서(html)을 처리하는 함수), BOM(브라우저를 처리하는 함수)
                    스크립트를 잘하려면 DOM을 잘 쓸줄 알아야 함
                    -->

                </form>
            </div>
            <div class="col-4"></div>
            <div class="col-4"></div> <!-- 여백 -->
        </div>
    </div>
</body>
</html>